<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alpha Solutions - My Projects</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<header>
    <div class="logo">Alpha Solutions</div>
    <nav>
        <ul>
            <li><a th:href="@{/projects/myProjects}">My Projects</a></li>
            <li><a th:href="@{/projects/allProjects}">All Projects</a></li>
            <li><a th:href="@{/profile/view}">Profile</a></li>
            <li><a th:href="@{/profile/logout}">Log out</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="container">
        <h2>My projects:</h2>
    </section>
</main>
</body>
</html>