<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<main>
    <h2>Create a project</h2>

    <form th:action="@{/projects/add}" method="post">

        <label>Name:
            <input type="text" name="projectName" required>
        </label>
        <br>
        <label>Description:
            <textarea name="projectDescription"></textarea>
        </label>
        <br>
        <label>Start date:
            <input type="date" name="projectStartDate" required>
        </label>

        <br>

        <h3>Assign users</h3>

        <div class="user-selection-box">

            <div th:each="user : ${allUsers}" class="user-item">

                <label>
                    <input type="checkbox" name="listOfUserIdsFromAssignedUsers" th:value="${user.userId}">
                    <span th:text="${user.userName}"></span>
                </label>

            </div>
        </div>

        <br>

        <button type="submit" class="btn">Create</button>
    </form>
</main>
</body>
</html>