<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create sub project</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<main>
    <h2>Create sub-project</h2>

    <form th:action="@{/projects/{id}/subprojects(id=${projectId})}" th:object="${subProject}" method="post">

        <Label>Name:
            <input type="text" th:field="*{subProjectName}" required>
        </Label>
        <br>
        <Label>Description:
            <textarea th:field="*{subProjectDescription}"></textarea>
        </Label>
        <br>
        <br>
        <div class="form-actions">
            <button type="submit" class="btn">Create Sub Project</button>
            <a th:href="@{/projects/{id}(id=${projectId})}"
               class="btn btn-outline">Cancel</a>
        </div>
    </form>
</main>
</body>
</html>